ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}




ol li::before{
    content: 'curso ' counter(contador) ') ';
    color:#BDB76B
    
}
ol li::after{
    content: '.';
}