h1{
    color:#ffb3c6;
    text-align: center;
}
p{
    color:#000814;
    background-color:#f4978e;
    padding: 15px;
    border: 10px solid #fb6f92;
    /*margin-top:40px;
    margin-right:10px;
    margin-bottom:20px;
    margin-left:10px;*/
    margin:auto 50px;
    text-align: center;
}